<!DOCTYPE html>
<html>
  <title>Vue.js Study</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <body>
    <div id="app">
      <h1>{{ pageTitle }}</h1>
      <span v-bind:title="name">Hello, {{ name }}</span>
      <button v-if="!isLogin" v-on:click="login">Login</button>
      <button v-if="isLogin" v-on:click="logout">Logout</button>
      <br />
      <div>
        <ul>
          <li v-for="menu in menus">{{ menu.title }}</li>
        </ul>
      </div>
    </div>
  </body>
  <script src="js/index.js"></script>
</html>
